.App {
  text-align: center;
  padding: 15px 0;
  font-family: 'Roboto', 'sans-serif';
}
.app_container {
  height: 100%;
  padding: 0 70px;
}
* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}
h1, h2, h3 {
  font-size: unset;
  font-weight: unset;
}
/************Icons************/
.edit_icon {
  background: url("../public/edit_icon_64.png") center;
  width: 28px;
  height: 28px;
  background-size: cover;
  display: block;
}
/************Icons************/
